<?php

namespace {{namespace}}Validation\Exceptions;

use Respect\Validation\Exceptions\ValidationException;

class {{rule}}Exception extends ValidationException
{
    const ERROR_TYPE1 = 0;
    const ERROR_TYPE2 = 1;

    public static $defaultTemplates = [
        self::MODE_DEFAULT => [
            self::ERROR_TYPE1 => "Error Message 1",
            self::ERROR_TYPE2 => "Error Message 2"
        ],
        self::MODE_NEGATIVE => [
            self::ERROR_TYPE1 => "Invert Error Message 1",
            self::ERROR_TYPE2 => "Invert Error Message 2"
        ]
    ];

    /**
     * Get exact message
     *
     * @return integer
     */
    public function chooseTemplate()
    {
        $input = $this->getParam('input');

        $condition = true; // assume result

        return $condition ? static::ERROR_TYPE1 : static::ERROR_TYPE2;
    }
}
