<?php

namespace {{namespace}}Commands;

use Core\BaseCommand;
use Symfony\Component\Console\Input\InputInterface as Input;
use Symfony\Component\Console\Output\OutputInterface as Output;

class {{command}} extends BaseCommand
{
    /**
     * The command signature.
     *
     * @var string
     */
    private $signature = "{{command_name}}";

    /**
     * The command description.
     *
     * @var string
     */
    private $description = "";

    /**
     * Create a new command instance.
     */
    public function __construct()
    {
        parent::__construct($this->signature, $this->description);
    }

    /**
     * To be call after execute the command.
     *
     * @param  Input $input
     * @param  Output $output
     * @return void
     */
    public function handle(Input $input, Output $output)
    {
        $output->writeln("Command {{command}} is ready.");
    }
}
