<?php

namespace {{namespace}}Requests;

use Respect\Validation\Validator as v;
use Core\BaseRequest;

class {{request}} extends BaseRequest
{
    /**
     * Create rules using Respect Validation Library
     *
     * @return array
     */
    public function rules()
    {
        return [
            //
        ];
    }
}
