<?php

use Faker\Factory;
use Phinx\Seed\AbstractSeed;

class {{seeder}} extends AbstractSeed
{
    public function run()
    {
        $faker = Factory::create();

        $limit = 30;
        $data  = [];

        for ($i = 1; $i <= $limit; $i++)
        {
            $data = [
                '[column1]' => "[column1] value"
            ];

            echo __CLASS__ . " => {$i}/{$limit}\n";

            $this->insert("[table]", $data);
        }
    }
}
