<script type="text/template" id="add-contact-tmpl">
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="search_contact" class="form-control" placeholder="Search contacts..." />

            <table class="table table-hover table-condensed table-striped">
                <tbody></tbody>
            </table>
        </div>
    </div>
</script>
