<script type="text/template" id="add-contact-tmpl">
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="search_contact" class="form-control" placeholder="Search contacts..." />

            <table class="table table-hover table-condensed table-striped">
                <tbody></tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/template" id="search-contact-result-tmpl">
    <% if (!_.isEmpty(result_users)) { %>
        <% _.each(result_users, function(user) { %>
            <tr>
                <td>
                    <img src="<%= user.picture %>" class="img-responsive contact-picture" alt="" width="50" />
                </td>
                <td>
                    <p class="contact-fullname"><%= user.full_name %></p>
                </td>
                <td>
                    <% if (user.has_pending_request) { %>
                        <span class="label label-warning">Pending</span>
                    <% } else {  %>
                        <button class="btn btn-primary btn-xs send-contact-request" data-loading-text='<span class="glyphicon glyphicon-refresh rotating"></span>' data-user-id="<%= user.id %>">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add Contact
                        </button>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td>
                <p>No contact found</p>
            </td>
        </tr>
    <% } %>
</script>

<script type="text/template" id="message-tmpl">
    <% if (sent) { %>
        <li class="sent">
            <img src="<%= picture %>" alt="" />
            <p><%= message %></p>
        </li>
    <% } else { %>
        <li class="replies">
            <img src="<%= picture %>" alt="" />
            <p><%= message %></p>
        </li>
    <% } %>
</script>
